<% layout("/layout/boilerplate.ejs") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Add new list</h1>
    <form method="POST" action="/listing"  class="needs-validation" novalidate enctype="multipart/form-data">
<div class="mb-3">
    <label for="title" class="form-label">Title: </label>
    <input type="text" name="listings[title]" placeholder="enter title" class="form-control" required>
    <div class="invalid-feedback">Please enter title</div>
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea type="text" name="listings[description]" placeholder="enter title" class="form-control" required></textarea>
    <div class="invalid-feedback">Please enter description</div>
</div class="mb-3">
<!-- <div>
    <label for="image.url" class="form-label">Image Url</label>
    <input type="text" name="listings[image][url]" placeholder="enter image link/URL" class="form-control">
</div> -->
<div>
    <label for="image.url" class="form-label">Upload image</label>
    <input type="file" name="listings[image]" class="form-control" required>
    
</div>
<div class="row">
<div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>
    <input   name="listings[price]" placeholder="enter price" class="form-control" required>
    <div class="invalid-feedback">Please enter Price</div>
</div>
<div class="mb-3 col-md-8">
    <label for="country" class="form-label">Country</label>
    <input type="text" name="listings[country]" placeholder="enter country" class="form-control" required>
    <div class="invalid-feedback">Please enter Country</div>
</div>
</div>
<div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" name="listings[location]" placeholder="enter location" class="form-control" required>
    <div class="invalid-feedback">Please enter Location</div>
</div>
<br>
    <button class="btn btn-dark add-btn mb-4 ">Add</button>
</form>
</div>
</div>
</body>
